{% extends 'layout.html.twig' %}

{% block content %}

<h1 class="text-center">Évènements :</h1>
{% for order in orders %}
<div><h2 class="text-center">Discipline :</h2></div>
<div> <img src="{{order.type}}" style="height:40px">
</div>
<div><h2 class="text-center">Date :</h2></div>
<div> <h4 class="text-center"> {{order.date}} </h4>
</div>
<div><h2 class="text-center">Lieu:</h2></div>
<div> <img src="{{order.lieu}}" style="height:40px">
</div>
<div><h2 class="text-center">Nom du robot :</h2></div>
<div> <h4 class="text-center"> {{order.name}} </h4>
</div>
<div><h2 class="text-center">Visuel du robot :</h2></div>
<div> <img src="{{order.image}}" style="height:40px">
</div> 
<div><h2 class="text-center">Accessoire :</h2></div>
<div><img src="{{order.accessoire}}" style="height:40px">
</div>
<hr></hr>
{% endfor %}



{% endblock %}