{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid pt-5" >
        <h1 class="text-center text-white mt-1">Robot {{order.robot.name}}</h1>
        <div class="separation"><hr></div>
            <main class="container-fluid mt-5 pb-5">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-s-12">
                        <img src="{{ order.robot.image }}" class="img-fluid mt-2" alt="...">
                    </div>
                    <div class="col-lg-5 col-md-5 col-s-12">
                        <img src="{{ order.robot.accessoire }}" class="img-fluid mt-2" alt="...">
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div> 
                  <h1 class="text-center text-white mt-1">Détails du combat :</h1>
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-s-12 mt-2">
                        <img src="{{ order.combat.type }}" class="img-fluid mt-2" alt="...">
                    </div>
                    <div class="col-lg-4 col-md-4 col-s-12 mt-2">
                        <img src="{{ order.combat.lieu }}" class="img-fluid mt-2" alt="...">
                    </div>
                    <div class="col-lg-4 col-md-4 col-s-12 mt-2">
                        <div>Le {{ order.combat.date }}</div>
                    </div>
                  </div>
            </main>
    </div>
{% endblock %}